services:
    bot:
        build:
            context: .
            dockerfile: Dockerfile
        restart: always
        networks:
            - bot-network
        depends_on:
          - db
        environment:
            BOT_TOKEN: ${BOT_TOKEN}
            DATABASE_URL: postgresql://${POSTGRES_USER:-postgres}:${POSTGRES_PASSWORD:-postgres}@db:5555/${POSTGRES_DB:-postgres}

    db:
        image: postgres:15-alpine
        ports:
            - "5555:5555"
        command: postgres -p 5555 -c listen_addresses='*'
        volumes:
            - postgres-data:/var/lib/postgresql/data
        restart: always
        networks:
            - bot-network
        environment:
            POSTGRES_DB: ${POSTGRES_DB:-postgres}
            POSTGRES_USER: ${POSTGRES_USER:-postgres}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-postgres}

volumes:
    postgres-data:
        driver: local

networks:
    bot-network:
        driver: bridge
